.terms-and-conditions {
  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
  h3 {
    font-size: 19px;
  }

  a {
    font-weight: 700;
  }

  li {
    font-size: 14px;
  }

  .info-panel {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #fafafa;

    b {
      font-size: 14px;
    }

    p {
      margin: 0px;
    }
  }
}

.privacy-policy {
  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
  h1 {
    font-size: 26px;
  }

  h3 {
    font-size: 19px;
  }

  a {
    font-weight: 700;
  }

  li {
    font-size: 14px;
  }
}
